@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);

.perspective {
  perspective: 1000px;
}

.transform-style {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
.text-shadow-1 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

@theme {
  --color-salvia: #49a078;
  --color-salviaChiaro: #9cc5a1;
  --color-salviaScuro: #216869;
  --color-beige: #d3dfb2;
  --color-avorio: #fdf0d5;
  --color-grigio: #b5b8b1;
  --color-ambra: #dbff76;
  --color-rosso: #ff312e;
  --color-pu: #d2d6ef;
}
